body{
    color: black;
    font-family : Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.header{
    color: blueviolet;
    background: rgb(0, 255, 42);
    text-align: center;
    height: 70px;
    padding: 10px;
}

.main{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    gap: 10px;
    margin: 0 auto;
    padding: 10px;
    background: pink;
}

.container{
    background: yellowgreen;
    padding: 5px;
    border-radius: 10px;
    width: 300px;
    gap: 5px;
    margin: 5px;
}

.head-name{
    color:blueviolet;
}